.paginator {
    text-align: center;
}
.paginator span {
    padding: 0 2px;
}
.activePage {
    font-weight: bold;
}
.avaImg {
    width: 85px;
    opacity: .8;
    transition: all .4s;

}
.avaImg:hover {
    opacity: 1;
}