.pagination {
  padding: 5px;
}

.pagination ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination ul li {
  padding: 0 2px;
  cursor: pointer;
}
.pagination li.selectedPage {
  font-weight: bold;
  cursor: text;
}
.preloaderBox {
  text-align: center;
}