.dialogs {
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-column-gap: 10px;
    height: 100%;
}

.dialogs_items {
}

.dialogs_items .dialog {
    padding: 5px;
}
.dialogs_items .dialog a {
    color: #222;
}
.dialogs_items .dialog a:hover {
    color: #006062;
    font-weight: 500;
    text-decoration: none;
}
.dialogs_items .dialog a.active {

    font-weight: bold;
}

.dialogs_items .dialog:nth-child(1), .message:nth-child(1) {
    padding-top: 0;
}

.dialogs_items .dialog.active {
    color: goldenrod;
}

.messages {
}

.message {
    padding: 5px;
    background: aliceblue;
    border-radius: 5px;
    margin: 0 0 5px;
}
.message:nth-child(even) {
    text-align: right;
}