.post {
  display: flex;
  padding: 1%;
}
.post__ava {
  background-color: #8C9EFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.post__text {
  padding: 0 0 0 5px;
  width: 50%;
}
.post__like {
  align-self: flex-end;
}