.nav {
    grid-area: nav;
    background-color: chartreuse;
    padding: 5px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.nav a.active {
    color: cadetblue;
}

.nav a:hover {
    text-decoration: underline;
}

.item {
    background: darkcyan;
}

.item.active {
    background-color: gold;
}