.nav {
    grid-area: nav;
    padding: 5px;

}

.nav a {
    color: #285473;
    text-decoration: none;
    cursor: pointer;
}

.nav a.active {
    color: cadetblue;
    text-decoration: none!important;
    cursor: text!important;
}

.nav a:hover {
    text-decoration: underline;
}

.item {
    background: darkcyan;
}

.item.active {
    background-color: gold;
}